@font-face {
  font-family: number;
  src: local('Hiragino Mincho ProN');
  unicode-range: U+0030-0039;
}

html,body {
  width: 100%;
  color: $brand-black;
  background: #fff;
  font-family: "sofia-pro-soft", sans-serif,-apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  letter-spacing: 1px;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }

  i {
    font-size: 12px;
    font-weight: bold;
  }
}

canvas {

}

p {
  margin: 0;
}

.contents-wrapper {
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  font-size: 14px;
  line-height: 30px;
  @media screen and (max-width: 1024px)  {
    width: 100%;
  }
  h2 {
    margin: 0;
    position: relative;
  }
}

section {
  font-size: 15px;
  overflow: hidden;
  &.contents-top {
    max-height: 600px;
    position: relative;
    .contents-inner {
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
    }
  }
  &.article-contents-wrapper {
    margin: 0 auto;
    width: 750px;
    .article-contents {
      display: flex;
      width: 675px;
      height: 346px;
      margin: 46px auto 0;
      background: #fff;
      border-radius: 25px;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      &:hover{
        transform: scale(0.9);
        canvas.bg-wave {
          opacity: 0.12;
        }
      }
      a {
        border-radius: 25px;
        display: flex;
        width: 675px;
        height: 346px;
        position: relative;
        overflow: hidden;
      }
      canvas.bg-wave {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 99;
        mix-blend-mode: multiply;
        transition: all 0.3s ease;
      }
      .article-eyecatch {
        display: block;
        width: 675px;
        height: 346px;
        background:url(../img/works_catch_seikahack.png) no-repeat;
        background-size:contain;
        mix-blend-mode: multiply;
        position: absolute;
        z-index: 9;
      }
      .article-contents-info-wrapper {
        display: flex;
        width: 675px;
        height: 346px;
        position: absolute;
        z-index: 999;
      }
      .article-contents-info-inner {
        display: flex;
        justify-content: space-between;
        margin: auto auto 10px;
        width: 95%;
        height: 50px;
        background: #ffffff;
        border-radius: 50px;
        h2,p {
          line-height: 50px;
          padding: 0 25px;
        }
        h2 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
