



$body-bg: #fff;

$brand-main: #AE7650; //ブランドメイン
$brand-sub: #AE6450; //ブランドサブ
$brand-accent: #9898AD; //ブランドアクセント
$brand-black: #4C2A13; //ブランドアクセント
$brand-foundation: #F5F5F9; //ブランドファンデーション

$contents-wrapper-margin: calc((100% - 1024px) / 2);

$top-article-large-list: 392px;//トップラージリスト
